* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #252525;
  color: #FFF;
}

.primary-bg-color {
  background-color: #252525;
}

.secondary-bg-color {
  background-color: #C09578;
}

.light-bg-color {
  background-color: #FCF5EB
}

.dark-bg-color {
  background-color: #101010;
}

.primary-color {
  color: #C09578;
}

.secondary-color {
  color: #626262;
}

/* NAVBAR */
#navbar a,
#navbar button {
  color: #FFF;
}

#navbar li {
  position: relative;
}

#navbar i {
  font-size: 20px;
}

#navbar span {
  position: absolute;
  top: -8px;
  right: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #EF3636;
  text-align: center;
}

#bag-item span {
  left: 20px;
}

.navbar-brand {
  font-weight: 700;
}

#navbar-items {
  justify-content: space-between;
}

#search-form {
  border: 2px solid #626262;
  border-radius: 3px;
  padding: 5px 15px;
  width: 50%;
}

#search-form input {
  background-color: transparent;
  border: none;
  color: #FFF;
}

#search-form input:focus {
  box-shadow: none;
}

#search-form input::placeholder {
  color: #FFF;
}

/* BOTTOM NAVBAR */
#bottom-navbar a {
  color: #FFF;
  font-weight: 600;
}

/* BANNERS */
#banners-container {
  padding: 0;
}

#slider .carousel-item,
#slider img {
  height: 600px;
}

.carousel-caption {
  bottom: 5em;
  left: 23%;
  right: 23%;
}

.carousel-caption h5 {
  font-size: 4em;
}

/* MINI BANNERS */
#mini-banners {
  margin-top: -3em;
  z-index: 10;
}

#mini-banners .col {
  z-index: 1;
  height: 300px;
  max-width: 30%;
  padding: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#mini-banners .col h2 {
  text-transform: uppercase;
  max-width: 50px;
  font-size: 2.2em;
  font-weight: 700;
  line-height: 1em;
}

#mini-banners .col img {
  height: 250px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}


#mini-banners .col a {
  font-weight: bold;
  color: #FFF;
  font-size: .8rem;
  transition: .5s;
}

#mini-banners .col a:hover {
  color: #101010;
}

/* BEST SELLERS */
#best-sellers {
  padding: 4em 0;
}

#best-sellers .col-md-3 {
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.5em;
  margin-bottom: 1em;
}

.card {
  text-align: center;
  border-radius: 0;
}

.card img {
  width: 140px;
  margin: 2em auto;
}

.card .card-category {
  font-size: .8rem;
}

.card .card-text {
  margin: 2em 0;
  font-weight: bold;
}

.card .btn {
  background-color: transparent;
  border-color: #C09578;
}

.card .btn:hover {
  background-color: #C09578;
}