body {
  background-color: #f8f8f8;
}

/* Form */
#form-container {
  background-color: #FFF;
  border-radius: 20px;
  margin: 50px auto;
  padding: 50px;
  box-shadow: .5px 10px 15px rgba(0, 0, 0, 0.2);
}

#form-container h2 {
  font-weight: 900;
  margin-bottom: 30px;
}

#form-container a {
  color: #222;
}

#form-container .form-control {
  border: none;
  border-bottom: 1px solid #CCC;
  border-radius: 0;
}

#form-container .form-control:focus, 
#form-container .form-control:focus{
  box-shadow: none;
}

#form-container .form-floating label {
  color: #CCC;
}

#form-container .form-floating > .form-control:focus~label {
  color: #222;
}

/* Image */

.row.align-items-center {
  align-content: center;
  height: 100%;
}

#link-container {
  text-align: center;
  padding-top: 50px;
}