/* HEADER */
#header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #CCC;
}

#header p {
  margin-bottom: 0;
}

#logo-container {
  display: flex;
  justify-content: center;
}

#logo {
  width: 40px;
  margin-right: 15px;
}

/* NAVBAR */
#navbar {
  padding: 10px;
}

#navbar a {
  width: 80px;
  color: #444;
  text-decoration: none;
  transition: .5s;
}

#navbar a:hover {
  color: #c1b696;
}